body {
    /* Para poder fijar el pie de página con posición absoluta */
    position: relative;
    min-height: 100vh;
  }
  
  footer {
    /* Posicionar abajo */
    display: flex;
    position: absolute;
    bottom: 0;
    /* Ocupar todo el ancho disponible */
    width: 100%;
    min-height: 18vh;
  }
  .__footer {
    /* Para centrar el contenido */
    display: flexbox;
    
  }